.portada {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/portada/portada.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fire-text {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: orange;
    text-shadow: 
        0 0 5px #ff6600, 
        0 0 10px #ff6600, 
        0 0 15px #ff6600, 
        0 0 20px #ff6600, 
        0 0 25px #ff6600, 
        0 0 30px #ff6600, 
        0 0 35px #ff6600;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    0%, 100% {
        text-shadow: 
            0 0 5px #ff6600, 
            0 0 10px #ff6600, 
            0 0 15px #ff6600, 
            0 0 20px #ff6600, 
            0 0 25px #ff6600, 
            0 0 30px #ff6600, 
            0 0 35px #ff6600;
        color: orange;
    }
    50% {
        text-shadow: 
            0 0 10px #ff0000, 
            0 0 20px #ff0000, 
            0 0 30px #ff0000, 
            0 0 40px #ff0000, 
            0 0 50px #ff0000, 
            0 0 60px #ff0000, 
            0 0 70px #ff0000;
        color: yellow;
    }
}

 
  .navbar-brand {
    color: #f5f5f5;
    font-size: 3rem; /* Tamaño de fuente más grande */
    font-weight: bold;
    font-family: 'Arial', sans-serif; /* Cambia la fuente a una más estilizada */
  }
  
  .navbar-nav {
    display: flex;
    justify-content: flex-end; /* Asegura que los elementos del nav estén a la derecha */
  }
  
  .nav-item {
    margin-left: 20px; /* Espacio entre los elementos del nav */
  }
  
  .nav-link {
    font-size: 1rem; /* Ajusta el tamaño de la fuente para los enlaces */
  }
  
  .btn-primary {
    font-size: 1rem; /* Asegura que el botón de suscripción tenga un tamaño de fuente consistente */
  }
  .hero {
    
    padding: 20px; /* Espaciado interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Altura mínima del viewport */
}

.hero h1 {
    margin-bottom: 20px; 
   color: #0a0a0a;
}

.hero img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 1200px) {
  .fire-text {
      font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .fire-text {
      font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .fire-text {
      font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .fire-text {
      font-size: 1.25rem;
  }
}

@media (max-width: 400px) {
  .fire-text {
      font-size: 1rem;
  }
}