
<div class="portada">
    <nav class="navbar" >
        <div class="container-fluid">
            <a class="navbar-brand fire-text">JORTV</a>
            <form class="d-flex" role="search">
                <button class="btn btn-success me-2" type="submit" routerLink="/login" style="background-image: linear-gradient(to right, #4CAF50 , #00C853); border-radius: 10px;">LOGIN</button>
                <button class="btn btn-success" type="submit" routerLink="/moviess-top" style="background-image: linear-gradient(to right, #4CAF50 , #00C853); border-radius: 10px;">HOME</button>
              </form>
              
        </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center vh-100 ">
        <h1 class="fire-text">BIENVENIDOS A JORTV</h1>
    </div>
    <div class="season mt-4">
        <h2 class="text-secondary">Season 7 <span class="text-secondary">Show More</span></h2>
        <div class="row">
            <div class="col-md-3">
                <img src="assets/img/portada/port1.webp" alt="Episode 1" class="img-fluid episode-img">
            </div>
            <div class="col-md-3">
                <img src="assets/img/portada/port2.jpg" alt="Episode 2" class="img-fluid episode-img">
            </div>
            <div class="col-md-3">
                <img src="assets/img/portada/port3.jpeg" alt="Episode 3" class="img-fluid episode-img">
            </div>
            <div class="col-md-3">
                <img src="assets/img/portada/portada.jpg" alt="Episode 4" class="img-fluid episode-img">
            </div>
        </div>
    </div>
</div>

<div class="hero text-center text-white" >
    <h1 >En JORTv tienes mucho más que ver. Si te gusta el drama, la comedia, los realities y un poco de todo, este es tu
        lugar.</h1>
    <img src="/assets/img/port5.PNG" alt="">

</div>


<app-moviess-most-popular></app-moviess-most-popular>

<app-footer></app-footer>
