
<div class="portada">
    <nav class="navbar" >
        <div class="container-fluid">
            <a class="navbar-brand">JORTV</a>
            <form class="d-flex" role="search">
                <button class="btn  btn btn-success" type="submit" routerLink="/login">INGRESAR</button>
            </form>
        </div>
    </nav>


    <div class="hero text-center text-white">
        <h1 class="display-3">JORTV</h1>
        <p class="lead">MUCHO MÁS QUE VER</p>
        <p>Lo mejor de lo mejor</p>
        <a routerLink="/login" class="btn btn-primary btn-lg"><i class="fa-brands fa-video"></i>REGISTRATE</a>
    </div>
</div>
<div class="hero text-center text-white" >
    <h1>En JORTv tienes mucho más que ver. Si te gusta el drama, la comedia, los realities y un poco de todo, este es tu
        lugar.</h1>
    <img src="/assets/img/port5.PNG" alt="">

</div>


<app-moviess-most-popular></app-moviess-most-popular>

<app-footer></app-footer>
