<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto" routerLink="">
      <span class="d-inline d-lg-none">JHOCINE</span>
      <span class="d-none d-lg-inline">JHOCINE</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link py-2 ripple text-white active custom-red-link">
            <i class="fa-solid fa-address-card"></i> Registrarse
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/show" class="nav-link py-2 ripple text-white custom-red-link">
            <i class="fas fa-lock fa-fw me-3"></i> ADMI
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/list-users" class="nav-link py-2 ripple text-white custom-red-link">
            <i class="fa-regular fa-users-between-lines"></i> USERS
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/moviess-top" class="nav-link py-2 ripple video-link text-white custom-red-link">
            <i class="fa-regular fa-images"></i> IMAGENES
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/video-player" class="nav-link py-2 ripple video-link text-white custom-red-link">
            <i class="fa-solid fa-circle-play"></i> Videos Disponibles
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/movies" class="nav-link py-2 ripple text-white custom-red-link">
            <i class="fa-solid fa-mug-hot"></i> MAS
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/peliculas" class="nav-link py-2 ripple text-white custom-red-link">
            <i class="fas fa-globe fa-fw me-3"></i> PELICULAS
          </a>
        </li>
      </ul>
      <div class="col-md-3 text-end mb-3">
        <button type="button" class="btn btn-outline-danger shadow-red" (click)="logOut()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</nav>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/assets/img/Cap2.PNG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="./assets/img/letra.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/letra.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="d-flex justify-content-around align-items-center flex-wrap">
  <img src="./assets/img/letra.jfif" alt="Game of Thrones" class="img-fluid mb-3 rotate-img">
  <img src="./assets/img/letra1.jfif" alt="Game of Thrones" class="img-fluid mb-3 rotate-img">
  <img src="./assets/img/letra2.jfif" alt="Game of Thrones" class="img-fluid mb-3 rotate-img">
  <img src="./assets/img/letra3.jfif" alt="Game of Thrones" class="img-fluid mb-3 rotate-img">
  <img src="./assets/img/letra4.jfif" alt="Game of Thrones" class="img-fluid mb-3 rotate-img">
</div>
